.container {
  height:100%;
  padding-bottom:100px
}
.recentBtn {
  position:fixed;
  right:70px;
  bottom:130px;
  width:40px;
  height:40px;
  cursor: pointer;
}
.end {
  width:100%;
  height:15px;
}
.prevChat {
  width:140px;
  line-height:40px;
  background:#b3afaf;
  position:fixed;
  text-align:center;
  border-radius:10px;
  left:50%;
  top:20px;
  transform:translateX(-50%);
  cursor: pointer;
}
